<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Vision Mission Values</title>
     <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/review.css" />
  <link rel="stylesheet" href="/assets/fonts/fontawesome/css/all.min.css">
</head>
<body>

    <div class="px-lg-4 py-5">
        <div class="container-fluid py-3 px-lg-5 px-4">
  <div class="row">
    <div class="col-lg-6">
          <div class="review-header">
    <h3 class="section-title text-uppercase"><i class="fa fa-minus" aria-hidden="true"></i> About  <i class="fa fa-minus" aria-hidden="true"></i></h2>
    <h2 class="text-dark-green my-3">Vision and Mission</h2>
     <p class="text-muted">Welcome to MedLattice, where we provide a comprehensive Hospital SaaS solution, specifically designed as a complete clinic management system to truly empower your hospital practice.</p>
    </div>
    <div class="d-flex">
        <div class="icon-vision">
 <i class="fas fa-eye"></i>
        </div>
        <div class="">
             <h5 class="text-dark">Vision</h5>
        <p class="text-muted">We strive to see beyond the obvious — building a smarter and sustainable future with purpose.</p>
        </div>
    </div>
     <div class="d-flex">
        <div class="icon-vision">
 <i class="fas fa-lightbulb "></i>
        </div>
        <div class="">
        <h5 class="text-dark">Mission</h5>
        <p class="text-muted">Our mission is to hit the bullseye every time by delivering quality, innovation, and trust.</p>
        </div>
    </div>
     <div class="d-flex">
        <div class="icon-vision">
<i class="fas fa-balance-scale"></i>
        </div>
        <div class="">
          <h5 class="text-dark">Values</h5>
        <p class="text-muted">We stand on a foundation of honesty, integrity, and long-term relationships with clients.</p>
        </div>
    </div>
    </div>
    <div class="col-md-6">

    </div>
  </div>

</div>

</body>
</html>
